* {
	box-sizing: border-box;
}
body {
	color: #eee;
	font-family: 'Muli', sans-serif;
	height: 100vh;
	overflow: hidden;
	margin: 0;
  text-align: center;
}
.bg-image {
  background: url('https://i.ibb.co/G37Y9Wf/8a746d8eb265ab3ef533fa491e93f8b4.jpg') no-repeat center/cover;
  filter: contrast(80%);
  height: 100vh;
  width: 100%;
}
h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.15);
  padding: 2rem 3rem;
}
.fa-tint {
	color: rgb(160, 160, 160);
	position: absolute;
	top: -20px;
  animation: fall linear forwards;
}
@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}





/* SIGNATURE */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

.signature {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(51, 51, 51, 0.808);
  padding: .5rem .5rem;
  border-radius: 50px;
  box-shadow: 0 0 0px 3px rgb(9,251,186);
  color: rgb(9,251,186);
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  cursor: pointer;
}
.signature:hover {
  transform: translateX(3px);
  background: linear-gradient(90deg, rgba(51, 51, 51, 0.808) 30%, rgba(100, 100, 100, 0.808) 100% );
  transition: .3s ease;
  box-shadow: 0 0 0px 3px rgb(79, 250, 204);
  color: rgb(79, 250, 204);
}
.signature:focus {
  outline: none;
}
.signature .flag {
  height: 13px;
  width: 22px;
  background: linear-gradient(90deg, blue 36%, white 36%, white 67%, red 67%);
  box-shadow: inset 2px 2px 2px #222, 2px 2px 1px #222;
  margin-right: 6px;
  transform: translateY(3px);
}
.signature h3 {
  margin: 0;
}
.signature i {
  font-size: 1.1rem;
  text-shadow: 2px 2px 1px #222;
  transform: translateY(2px);
}
